/* .card{
    border:0.2rem solid black;
    border-radius: 1rem;
    width: auto;
    height: auto;
    background-color: aqua;
    margin: 1rem;
    padding: 1.3rem;
    text-align: center;
    cursor: pointer;
}

.card img{
    margin-bottom: 0.4rem;
    border: 1rem solid green;

    width: 24rem;
  
    background-color: gold;
}

.card h3{
    background-color: black;
    color: white;
    padding: 0.4rem;
    text-align: center;
} */